$primary-color: #f8b551;
$black-bg: #222222;
$background: #FFF9F3;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "futura-pt-condensed", sans-serif;
}

ul, ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Jost', serif;
}

cite {
  font-family: 'Jost', serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-family: 'Jost', serif;
}

ul {
  list-style-type: none;
}

.findvej {

  background: $black-bg url("../img/kaffetaarn-entre-bg.png");
  background-size:cover;

}

.findvej__card {

  background-color: rgba(34,34,34,0.9)

}

.map-responsive{

  overflow:hidden;
  padding-bottom: 100%;
  position:relative;

}

.map-responsive iframe{

  height:100%;
  width:100%;
  position:absolute;

}

.link__text{

  text-decoration:underline;
  color: $background;
  font-family: 'Jost', serif;

}

.link__text:hover{

  color: #f8b551;

}

.header__icon{

  height: auto;
  max-width: 30px;

}

.header__text{

  color:white;
  display:inline-block;
  position:relative;

}

.header__text::after {

  content: '';
  height: 2px;
  width: 70%;
  background: #FBE176;
  position: absolute;
  left: calc(25% - 10%);
  bottom: -12px;
}

.contact__links a{
  font-family: 'Jost', sans-serif;
}

@media screen and (min-width: 768px){

  .map-responsive{

    padding-bottom: 45%;

  }

}