$primary-color: #f8b551;
$black-bg: #222222;
$background: #FFF9F3;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background:$background;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: "futura-pt-condensed", sans-serif;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
}

cite {
	font-family: 'Jost', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	font-family: "futura-pt-condensed", sans-serif;
}

ul {
	list-style-type: none;
}

button:hover{
	transform: translateY(-5%);
	transition: all .2s ease-in-out;
}

/* Nav & hero */

.nav__menu__btn {
	width: 2.5em;
	cursor: pointer;
}

.top__bg__container {
	height: 100vh;
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
}

.top__bg__img {
	background: url("../img/front-billede-left.png");
	background-size: cover;
	background-position-x: -100px;
	height: calc(100vh - 220px);
	width: 75%;
	position: absolute;
	top: 4rem;
	right: 15%;
	z-index: 1;
}

.top__bg__texture {
	background: url("../img/front-billede-right.png");
	background-size:cover;
	position: absolute;
	width: 60%;
	height: calc(100vh - 97.69px);
	top: 0;
	right: 0;
}

.nav nav ul {
	height: 100vh;
	background: $black-bg;
	top: 0;
	right: 0;
	position: fixed;
	width: 66%;
	z-index: 2;
	transform: translateX(100%);
	transition: transform .3s;
}

.nav nav ul li a{
	overflow: hidden;
	color: white;
}

.nav nav ul li a:hover{
	text-decoration: 2px underline wavy $primary-color;
}

.nav__menu__exit__btn img {
	width: 2em;
	margin: 2em;
	cursor: pointer;
	display:flex;
	justify-content: flex-end;
}

.top header{
	position:absolute;
	top: 50%;
	right: 5%;
}

.top__header{
	font-size:3.5rem;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.nav__logo{
	width:160px;
}

.top__logo__tagline{
	width:250px;
}

.top__btn__wrapper{
	font-size: 24px;
}

.arrow {
	text-align: center;
	margin-right: 2.30rem;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

/* Velkommen sektion */

.velkommen__img__first{
	background: url("../img/velkommen-left.png");
	background-size: cover;
	height:300px;
	width:100%;
}

.velkommen__img__second{
	background: url("../img/velkommen-right.png");
	background-size: cover;
	background-position: 0 -30px;
	height:300px;
	width:100%;
}

.headline{
	color: $black-bg;
	display: inline-block;
	position: relative;
}

.headline::after{
	content: '';
	height: 2px;
	width: 70%;
	background: $primary-color;
	position: absolute;
	left: calc(25% - 10%);
	bottom: -12px;
}

/* Menu */

.menu{
	background: url("../img/menu-bg.png");
	background-size: cover;
}

.line{
	height: 2px;
}

.menu__main__text{
	font-size: 1.25rem;
}

.menu__sub__text{
	font-size: 1rem;
}

.menu__logo__tagline{
	width:100%;
	height:100px;
}

.menu__container .kaffe-icon{
	width:40px;
}

.menu__link__wrapper a:hover{
	color: $primary-color !important;
}

/* Anbefalinger */

.anbefalinger img{
	width:40px;
}

.anbefalinger__link__wrapper a:hover{
	color: $primary-color !important;
}

/* Footer */
footer .footer__nav a:hover{
	text-decoration: 2px underline wavy $primary-color;
}

.footer__adresse a{
	text-decoration:underline;
	font-family: 'Jost', serif;
}

.footer__adresse a:hover{
	color: $primary-color;
}


@media only screen and (min-width: 768px){

	/* Nav & hero */
	.top__bg__img{
		width:60%;
		right: 20%;
	}

	.top h1{
		font-size: 90px;
	}

	.nav__logo{
		width:180px;
	}

	.top__logo__tagline{
		width:400px;
	}

	.top__bg__texture{
		height: calc(100vh - 103.91px);
	}

	/* Velkommen sektion */

	.velkommen{
		display: grid;
		position: relative;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1rem;
		margin-bottom: 12rem;
	}

	.velkommen__box__wrapper{
		height:80%;
		grid-column: 1 / span 6;
		grid-row: 1;
		align-self: center;
		z-index: 2;
	}
	.velkommen__img__first{
		grid-column: 5 / 9;
		grid-row: 1;
		z-index: 1;
		height:600px;
	}

	.velkommen__img__second{
		background-position: -60px 0;
		grid-column: 9 / 13;
		grid-row: 1;
		align-self: center;
		height:500px;
	}

	/* Menu */
	.menu__item__container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4rem;
	}

	.menu__left__col{
		grid-column: 1 / 2;
		grid-row: 1;
	}

	.menu__right__col{
		grid-column: 2 / 3;
		grid-row: 1;
		padding-top: 54px;
	}

	.menu__main__text{
		font-size: calc(1.075rem + .3vw);
	}

	.menu__sub__text{
		font-size: 1.05rem
	}

	.menu__logo__tagline{
		width:100%;
		height:150px;
	}

	/* Footer */

	.footer__container{
		display: grid;
		grid-template-columns:  1fr 1fr;
		padding: 2rem 5rem;
	}

	.footer__nav ul{
		max-width: 500px;
	}

	.social__icons i:hover{
		color: $primary-color !important;
	}
}

@media only screen and (min-width: 1200px){

	/* Nav & hero */
	.top__bg__img{
		background-position-x: unset;
		width:45%;
		right:35%;
		height: calc(100vh - 240px);
	}

	.top__bg__texture{
		height: calc(100vh - 116px);
	}

	.top h1{
		font-size:120px;
	}

	.top header{
		top: 45%;
		right:28%
	}

	.menu-btn, .exit-btn{
		display: none;
	}

	.nav nav ul{
		transform: translateX(0);
		width: unset;
		background:none;
		position: unset;
		height: auto;
	}

	.nav nav ul li a{
		font-size: 1rem;
		color: $black-bg;
	}

	.top__logo__tagline{
		width:500px;
	}

	/* Velkommen */
	.velkommen__box__wrapper{
		grid-column: 1 / span 4;
	}

	.velkommen__img__first{
		grid-column: 4 / 9;
	}

	/* Menu */
	.menu__container{
		width: 80%;
	}
}



